body,
html {
	height: 100%;
	background-color: $mainBg;
}
/* chrome & safari 浏览器 */
/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar{
	width: 6px;
	height: 6px;
	background-color: transparent;
}
/*滚动条的轨道*/
::-webkit-scrollbar-track{
	background-color: transparent;
}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb{
	border-radius: 3px;
	background-color: rgba(153,153,153,0.3);
	box-shadow: none;
}
/*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button{
	height: 0;
	width: 0;
	background-color: transparent;
}
// *{
// 	/*三角箭头的颜色*/
// 	scrollbar-arrow-color: rgba(0,0,0,0);
// 	/*滚动条滑块按钮的颜色*/
// 	scrollbar-face-color: rgba(153,153,153,0.3);
// 	/*滚动条整体颜色*/
// 	scrollbar-highlight-color: transparent;
// 	/*滚动条阴影*/
// 	scrollbar-shadow-color: transparent;
// 	/*滚动条轨道颜色*/
// 	scrollbar-track-color: transparent;
// 	/*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
// 	scrollbar-3dlight-color:transparent;
// 	/*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
// 	scrollbar-darkshadow-color: transparent;
// 	/*滚动条基准颜色*/
// 	scrollbar-base-color: rgba(153,153,153,0.3);
// }


#nprogress .bar {
	background: $mainColor !important;
}
#nprogress .peg {
	box-shadow: 0 0 10px $mainColor, 0 0 5px $mainColor;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
[center] {
	text-align: center !important;
}
[left] {
	text-align: left !important;
}
[right] {
	text-align: right !important;
}

.container {
	padding: 0 20px 55px;
	min-height: calc(100vh - #{$headerHeight} - #{$headerHeight});
	display: flex;
	flex-direction: column;
}

.card {
	background-color: #ffffff;
	padding: 0 20px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}
.border {
	height: 1px;
	width: 100%;
	background-color: $borderColor;
}

.link {
	cursor: pointer;
	transition: all 0.3s linear;
	&:hover {
		color: $mainColor;
	}
}

.no-data {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: #999;
}

.tablebox {
	line-height: 1;
	padding: 50px 0 100px;

	img {
		width: 370px;
	}

	p {
		margin-top: 15px;
		font-size: 16px;
	}
}
