.el-breadcrumb__inner a {
	font-weight: 400;
	color: rgba(0, 0, 0, 0.45);
}
.cy-table__table {
	&--sticky {
		overflow: visible;
		.el-table__header-wrapper {
			position: sticky;
			top: $headerHeight;
			z-index: 10;
		}
	}
	&.el-table {
		th {
			background-color: #f9f9f9;
			border-bottom: 0px;
			line-height: 24px;
			padding: 10px 0;
		}
		td {
			padding: 10px 0;
		}
		.cell {
			padding: 0 15px;
		}
		&::before {
			content: none;
		}
	}
	&.el-table--enable-row-hover .el-table__body tr:hover > td {
		background-color: #fff5f1;
	}
	.el-table__body tr.hover-row > td {
		background-color: #fff5f1;
	}
}
.el-form-item {
	margin-bottom: 10px !important;
}

.el-button--text {
	padding: 0;
}
.el-collapse {
	border-top: 0px;
}
.el-table__empty-text {
	line-height: 44px;
}

.el-table__empty-block {
	min-height: 44px;
}
.el-step__title.is-wait {
	color: #999;
}

.el-form--label-top .el-form-item__label {
	padding-bottom: 0;
}

.el-input-group__prepend .el-select .el-input {
	width: 100px;
}
.input-with-select .el-input-group__prepend {
	background-color: #fff;
}

.el-dropdown-menu__item.active {
	color: $mainColor;
}
