$mainColor: #ff9900; //主要色
$mainBg: #f5f5f5; //背景

$blackColor: #000000;
$whiteColor: #ffffff;

$fontColor: #333333; //字体
$fontColor6: #666666;
$fontColor9: #999999;

$borderColor: #e5e5e5;

$mainBg1: #e7e9ea;

$sideBarWidth: 210px;
$menuActive: #fff7e6;
$menuItemHeight: 36px;
$headerHeight: 54px;

:export {
	mainColor: $mainColor;
	mainBg: $mainBg;
	fontColor: $fontColor;
	fontColor6: $fontColor6;
	blackColor: $blackColor;
	whiteColor: $whiteColor;
	menuActive: $menuActive;
}
